<div class="container-fluid">
  <div class="card-group">
    <div class="card">
      <figure class="figure">
        <%= image_tag @slug.Image.url class: "img-fluid " if @slug.Image? %>
       
      </figure>
      <%= form_for @slug  do |f| %>
        <%= f.hidden_field :Views,  value:  @slug.Views + 1%>
      
         <%= f.submit "Like", :class => "btn btn-outline-warning" %>
      <% end %>   
    </div>
    <div class="card">
      <fig-caption class="">
      <h4 class="card-title"><%= @slug.Company  %></h4>       
      <h5><%= @slug.Title %></h5>
      <p class="card-text"><%= @slug.Details %></p>
  
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><label class="label">From: </label>&nbsp<strong><%= @slug.Starts.to_time.strftime("%d-%m-%Y %H:%M:%S")  %></strong></li>
        <li class="list-group-item"><label class="label">Until: </label>&nbsp<strong><%= @slug.Expires.to_time.strftime("%d-%m-%Y %H:%M:%S") %></strong></li>
      </ul>
  
      <div class="card-body">
        <strong><%= @slug.Views %></strong>views
        <%=link_to 'Website', @slug.Website %>
      </div>  
    </div>  
  </div>
  <button class="btn btn-outline-warning" style="margin-right:10%; "><%= link_to "Previous", @slug.previous %></button>
  
  <button class="btn btn-outline-warning" style="margin-left:10%; "><%= link_to "Next", @slug.next %></button>
</div>
